# img dosyalarini snapshot etmeyelim
*.jpeg

# media dosyalarini snapshot etmeyelim
*.mp3
*.mp4

# özel olarak bir dosya da belirtilebilir
ozeldosya.jpe

# klasor de belirtilebilir
klasoradi/

# sifre yazan ozel dosyalar ayrı tutulmasinda fayda var
password.txt